<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <profiles>
    <profile>
      <id>bmir</id>
      <repositories>
        <repository>
          <id>bmir-nexus-snapshots</id>
          <url>${env.CEDAR_MAVEN_SNAPSHOTS_URL}</url>
        </repository>
        <repository>
          <id>bmir-nexus-releases</id>
          <url>${env.CEDAR_MAVEN_RELEASES_URL}</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>bmir</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>bmir-nexus-snapshots</id>
      <username>${env.CEDAR_NEXUS_USERNAME}</username>
      <password>${env.CEDAR_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>bmir-nexus-releases</id>
      <username>${env.CEDAR_NEXUS_USERNAME}</username>
      <password>${env.CEDAR_NEXUS_PASSWORD}</password>
    </server>
  </servers>
</settings>
